/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #d7bdbd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  padding: 10px;
  border-bottom: 1px solid #211f1f;
  text-align: left;
}

thead th:last-child {
  text-align: center;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #1c1a1a;
}

tbody td:last-child {
  text-align: center;
}

input[type="text"],
select,
input[type="date"],
button {
  margin-right: 10px;
  margin-bottom: 10px;
}

input[type="text"],
select,
input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 7px 10px;
  background-color: #889bae;
  color: #9b7575;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #5a6b7c;
}

.error {
  color: red;
}
